Language: Cpp
# 基础样式
BasedOnStyle: Google
# 缩进宽度
IndentWidth: 4
# 每行字符的长度
ColumnLimit: 100
# 支持一行的if
AllowShortIfStatementsOnASingleLine: false
# 支持单行循环
AllowShortLoopsOnASingleLine: false
# 指针*/引用& 位置
DerivePointerAlignment: false
PointerAlignment: Left
# 访问修饰符前的空格
AccessModifierOffset: -4
